<form action='/questions' method='post'>
  <div class='row'>
    <span class='input-question'>Question</span>
    <input class='input-question-field' type='text' name='question' />
    <input type='hidden' name='survey_id' value='post'>
  </div>
  <div class='row'>
    <input type='submit' value='submit' />
  </div>
</form>