    <!-- <form action='/choices' method='post'>
  <div class='row'>
    <span class='input-choice-a'>Choice A:</span>
    <input class='input-choice-a-field' type='text' name='a' />
    <input type='hidden' name='question_id' value='post'>
  </div>
  <div class='row'>
    <span class='input-choice-b'>Choice B:</span>
    <input class='input-choice-b-field' type='text' name='b' />
    <input type='hidden' name='question_id' value='post'>
  </div>
  <div class='row'>
    <span class='input-choice-c'>Choice C:</span>
    <input class='input-choice-c-field' type='text' name='c' />
    <input type='hidden' name='question_id' value='post'>
  </div>
  <div class='row'>
    <span class='input-choice-d'>Choice D:</span>
    <input class='input-choice-d-field' type='text' name='d' />
    <input type='hidden' name='question_id' value='post'>
  </div>
  <div class='row'>
    <input type='submit' value='submit' />
  </div>
</form> -->
