<form action="/users" name="agreeform" method="post"  >


<div class="answer"><input type='text' name='user[username]' placeholder="Username"/></div>

<div class="answer"><input type='password' name='user[password]' placeholder="Password"/></div>

<div class="answer"><input type='password' name='password_confirmation' placeholder="Confirm Password" /></div>
<input type="Submit" value="Submit!">

</form>
