<h1>join the flash card community</h1>
<form action="/users" name="agreeform" method="post"  >

<input type='text' name='user[username]' placeholder="Username"/>
<input type='password' name='user[password]' placeholder="Password"/>
<input type="Submit" value="Submit!">

</form>