<h1>join the flash card community</h1>
<form action="/users" name="agreeform" method="post"  >

<lable for='user[username]'>username</lable>
<input type='text' name='user[username]' placeholder="Username"/>
<lable for='user[password]'>password:</lable>
<input type='password' name='user[password]' placeholder="Password"/>
<lable for='password_confirmation'>Confirm</lable>
<input type='password' name='password_confirmation' />
<input type="Submit" value="Submit!">

</form>