<p><%= @errors %></p>
<h4><a href="/surveys">Save and Complete Survey</a></h4>

<form action='/questions' method='post'>
    <div class="survey-form-elements">
        <label>Question: </label>
        <input class='input-question-field' type='text' name='question' />
    </div>
        <input type='hidden' name='survey_id' value='<%=survey.id%>'>
    <div class="survey-form-elements">
        <label>Choice A: </label>
        <input type='text' name='choice[a]' />
    </div>

    <div class="survey-form-elements">
        <label>Choice B: </label>
        <input type='text' name='choice[b]' />
    </div>

    <div class="survey-form-elements">
        <label>Choice C: </label>
        <input type='text' name='choice[c]' />
    </div>

    <div class="survey-form-elements">
        <label>Choice D: </label>
        <input type='text' name='choice[d]' />
    </div>

    <div class="survey-form-elements">
        <input type='submit' value='Add another question' />
    </div>
</form>

