
  <h2><a href="/users/<%=current_user.id%>/surveys">My surveys</a></h2>
  <h2><a id = "new_survey" href='/surveys/new'>Create a new survey</a></h2>

  <div id ="new_survey_form">

  <ul id='my-surveys'>
    <% @new_surveys.each do |survey| %>
    <li class='surveys'>
      <h3><%=survey.name%> by <%=survey.creator.username%></h3>
      <form method="post" action="/rounds/new">
        <input type="hidden" name="survey_id" value="<%= survey.id %>">
        <input type="submit" value="Take the Survey">
      </form>

    </li>
  <% end %>
  </ul>
</div>
