<div class="container">
  <h1>Survey Machine</h1>
  <a href="/users/<%=current_user.id%>/surveys">My surveys</a>
  <div id ="new_survey_form">
  <a id = "new_survey" href='/surveys/new'>Create a new survey</a>

  <ul id='my-surveys'>
    <% @new_surveys.each do |survey| %>
    <li class='surveys'>
      <%=survey.name%> by <%=survey.creator.username%>
      <form method="post" action="/rounds/new">
        <input type="hidden" name="survey_id" value="<%= survey.id %>">
        <input type="submit" value="Take the Survey">
      </form>

    </li>

  </ul>
</div>

    <% end %>
</div>
