<form action='/surveys' method='post'>
  <div class='row'>
    <span class='input-name'>Survey title:</span>
    <input class='input-name-field' type='text' name='name' />
  </div>
  <div class='row'>
    <input type='submit' value='submit' />
  </div>
</form>