<!-- <form action='/surveys' method='post'>
  <div class='row'>
    <span class='input-name'>Survey title:</span>
    <input class='input-name-field' type='text' name='name' />
  </div>
  <div class='row'>
    <input type='submit' value='submit' />
  </div>
</form> -->

<div class="survey-container">
  <h1><a href="/surveys">Survey Machine</a></h1>
  <div class="survey-form-container">
  <form action='/surveys' method='post'>
    <span class='input-name'>Survey title:</span>
      <input class='input-name-field' type='text' name='name' />
      <input type='submit' value='submit' />
  </div>
  <div class="ajax-survey">

  </div>
  </form>
</div>

