<p><%= @errors %></p>
<div class="survey-container">
  <div class="survey-form-container">
  <form action='/surveys' method='post'>
    <span class='input-name'>Survey title:</span>
      <input class='input-name-field' type='text' name='name' />
      <input type='submit' value='submit' />
  </div>
  <div class="ajax-survey">

  </div>
  </form>
</div>

